<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>码匠社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/community.css">
</head>
<body>

<!--首部导航-->
<div th:replace="~{common ::nav}"></div>

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span> 发现</h2>
            <hr>
            <!-- bootstrap媒体对象-->
            <div class="media" th:each="question: ${questionList}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2963225266,3613162653&fm=26&gp=0.jpg" style="width: 55px">
                        <!--th:src="@{question.user.avatarUrl}"-->
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{'question/'+${question.id}}" th:text="${question.title}"></a>
                    </h4>
                    <span th:text="${#strings.abbreviate(question.description,50)}"></span> <br>
                    <span style="font-size: 12px;font-weight: normal;color: #999"><span th:text="${question.commentCount}"></span>个回复  ·
                        <span th:text="${question.viewCount}"></span>次浏览  ·  <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>热门话题</h3>
            <div class="question-related" th:each="hotQuestion: ${hotQuestions}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2963225266,3613162653&fm=26&gp=0.jpg" style="width: 55px">
                        <!--th:src="@{question.user.avatarUrl}"-->
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{'question/'+${hotQuestion.id}}" th:text="${hotQuestion.title}"></a>
                    </h4>
                    <span style="font-size: 12px;font-weight: normal;color: #999"><span th:text="${hotQuestion.commentCount}"></span>个回复  ·
                        <span th:text="${hotQuestion.viewCount}"></span>次浏览</span>
                </div>
            </div>
        </div>
    </div>
</div>
<nav aria-label="Page navigation" style="text-align: center; ">
    <ul class="pagination">
        <li>
            <a href="/?page=1" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li>
            <a th:href="@{'/?page='+${lastPage}}" aria-label="Previous">
                <span aria-hidden="true">&lt;</span>
            </a>
        </li>
        <li><a th:href="@{'/?page='+${currentPage-4}}" th:if="${currentPage-4}>0" th:text="${currentPage-4}"></a></li>
        <li><a th:href="@{'/?page='+${currentPage-3}}" th:if="${currentPage-3}>0" th:text="${currentPage-3}"></a></li>
        <li><a th:href="@{'/?page='+${currentPage-2}}" th:if="${currentPage-2}>0" th:text="${currentPage-2}"></a></li>
        <li><a th:href="@{'/?page='+${currentPage-1}}" th:if="${currentPage-1}>0" th:text="${currentPage-1}"></a></li>
        <li class="active"><a th:href="@{'/?page='+${currentPage}}" th:text="${currentPage}"></a></li>
        <li><a th:href="@{'/?page='+${currentPage+1}}" th:if="${currentPage+1}<=${totalPage}" th:text="${currentPage+1}"></a></li>
        <li><a th:href="@{'/?page='+${currentPage+2}}" th:if="${currentPage+2}<=${totalPage}" th:text="${currentPage+2}"></a></li>
        <li><a th:href="@{'/?page='+${currentPage+3}}" th:if="${currentPage+3}<=${totalPage}" th:text="${currentPage+3}"></a></li>
        <li><a th:href="@{'/?page='+${currentPage+4}}" th:if="${currentPage+4}<=${totalPage}" th:text="${currentPage+4}"></a></li>
        <li>
            <a th:href="@{'/?page='+${nextPage}}" aria-label="Previous">
                <span aria-hidden="true">&gt;</span>
            </a>
        </li>
        <li>
            <a th:href="@{'/?page='+${totalPage}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

<!--尾部-->
<div th:replace="~{footer ::foot}"></div>
</body>
</html>