<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="css/LoginStyle.css"></link>
    <link type="text/css" rel="stylesheet" href="css/icon.css"></link>
</head>
<body>

<div class="top">

</div>
<div class="login-box">
    <h1>登录页面</h1>
    <form action="/login" method="post">
        <div class="textbox">
            <i class="iconfont">&#xeb90;</i>
            <input type="text" placeholder="Username" name="name" id="name">

        </div>


        <div class="textbox">
            <i class="iconfont">&#xe620;</i>
            <input type="password" placeholder="Password" name="pwd" id="pwd">
        </div>

        <input class="btn" type="submit" id="btn" value="登录">
    </form>
    <input class="btn" type="button" name="" value="注册" onclick="window.location.href='/toRegister'">
    <a href="/" style="color: white; float: left;" >返回</a>

</div>



<script type="text/javascript">


    btn.onclick = function (event) {
        var btn = document.getElementById("btn");
        var name = document.getElementById("name").value;
        var pwd = document.getElementById("pwd").value;
        if (name == '' || name == null || name == undefined ||
            pwd == '' || pwd == null || pwd == undefined
        ) {
            event.preventDefault();
            alert("请正确输入");
        } else {

        }
    }

</script>



</body>
</html>