<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="css/LoginStyle.css"></link>
    <link type="text/css" rel="stylesheet" href="css/icon.css"></link>
    <script src="js/community.js"></script>
</head>
<body>
<div class="top">

</div>
<div class="login-box">
    <h1>注册</h1>
    <form action="/register" method="post">
        <div class="textbox">
            <i class="iconfont">&#xeb90;</i>
            <input type="text" placeholder="Username" name="name" id="userName">

        </div>
        <div class="textbox">
            <i class="iconfont">&#xe620;</i>
            <input type="password" id="pwd" placeholder="Password" name="pwd"><div class="pwdl" ></div>

        </div>
        <div class="pwd">
            <em>密码强度：</em>
            <em id="strength"></em>
            <div id="strengthLevel" class="strengthLv0"></div>
        </div>
        <div class="pwdl" >不少于6位</div>

        <div class="textbox">
            <i class="iconfont">&#xe72d;</i>
            <input type="text"  id="email" placeholder="Email" name="email"><div class="pwdl" ></div><!--邮箱正则-->
        </div>



        <input class="btn" id="btn" type="submit" value="注册">
        <!-- 			<input type="button" name="sex" value="测试" onclick="newTest()">
                    <input type="button" name="sex" value="测试用户名" onclick="Testa()"> -->
    </form>

</div>


<script>

    var emailflag=0;

    my$("pwd").onkeyup=function(){
        //每次键盘抬起都要获取文本框中的内容，验证文本框中有什么东西，得到一个级别，然后下面的div显示对应颜色

        //如果密码长度小于6，没有必要判断

        if(this.value.length>=6){
            pwdflag=1;
            var lvl=getLv(this.value);
            my$("strengthLevel").className="strengthLv"+lvl;
        }else{
            my$("strengthLevel").className="strengthLv0";
            pwdflag=0;
        }

//			my$("strengthLevel").className="strengthLv"+ (this.value.length>=6?getLv(this.value):0);
    };
    //给我密码，我返回对应的级别
    function getLv(pwd){
        var lvl=0;//默认是0级
        //密码中是否有数字，或者是字母，或者特殊符号
        if(/[0-9]/.test(pwd)){
            lvl++;
        }
        //判断密码中有没有字母
        if(/[a-zA-Z]/.test(pwd)){
            lvl++;
        }
        //判断密码中有没有特殊符号
        if(/[^0-9a-zA-Z_]/.test(pwd)){
            lvl++;
        }
        return lvl;
    }



    //验证邮箱
    my$("email").onkeyup=function(){
        //判断这个文本框输入的是不是邮箱
        if(/^[0-9a-zA-Z_.-]+[@][0-9a-zA-Z_.-]+([.][a-zA-Z]+){1,2}$/.test(this.value)){
            this.style.backgroundColor="green";
            this.nextElementSibling.innerHTML="";
            emailflag=1;
        }else{
            this.style.backgroundColor="red";
            this.nextElementSibling.innerHTML="有误的的邮箱格式";
            emailflag=0;
        }
    }






        btn.onclick = function (event) {
            var btn = document.getElementById("btn");
            var name=document.getElementById("userName").value;
            var pwd =document.getElementById("pwd").value;
            var email = document.getElementById("email").value;
            if (name==''||name==null||name==undefined||
                pwd==''||pwd==null||pwd==undefined||
                email==''||email==null||email==undefined||emailflag==0
            ){
                event.preventDefault();
                alert("请正确输入");
            }else {

            }


        }

</script>
</body>
</html>